<div
    class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-200 dark:bg-gray-800 dark:text-red-400"
    role="alert"
>
    <% if(errors.find(err => err.type === 'generic')) { %>
    <p><%= errors.find(err => err.type === 'generic').value %></p>
    <% } %>
</div>
