<main>
    <!-- Flash message -->
    <% if(flashMessage.length > 0) { %>
    <div
        class="p-4 mb-4 text-sm text-blue-800 rounded-lg bg-blue-50 dark:bg-gray-800 dark:text-blue-400"
        role="alert"
    >
        <%= flashMessage[0] %>
    </div>
    <% } %>
    <section class="custom-container">
        <%- include('../../partials/home-images-links.ejs', { images: images })
        %>
    </section>
    <section class="custom-container grid grid-cols-2">
        <% if(!userID) { %>
        <!-- Signup -->
        <%- include('../../partials/signup.ejs', { errors: errors }) %>

        <!-- Login -->
        <%- include('../../partials/login.ejs') %> <% } %>
    </section>
</main>
