<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
    <body>
        <%- include('../partials/header.ejs', { isLoggedIn: isLoggedIn }) %>

        <main>
            <section class="custom-container">
                <a href="/profile/upload-image">Add Image</a>
                <a href="/profile/change-profile">Change profile</a>
            </section>
        </main>
    </body>
</html>
